*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem 2rem 7rem;
    justify-content:center;
    padding-top: 1rem;
    cursor: pointer;
    gap: .5rem;
}

.TheCardDeck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.computer-deck{
    background-color: blueviolet;
}

.player-deck{
    background-color: green;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }