*, *::after, *::before {
    box-sizing: border-box;
}

    
body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: 6rem 4rem 5rem 5rem 6rem 4rem;
    gap: .9rem;
    cursor: pointer;
    justify-content:center;
    padding-top: 10rem;
    background-color: rgb(253, 226, 190);
}

.deck {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color:white;
    user-select: none;
}

.scoreboard {
    position: relative;
    display: flex;
    padding-right: 10rem;
    padding-left: 2rem;
    justify-content: center, left;
    align-items: center;
    border: 2px solid black;
    border-radius: .1rem;
    color:black;
}

.computer-deck{
    background-color: rgb(230, 10, 57);
}

.player-deck{
    background-color: rgb(2, 8, 2);
}

.computer-Junk{
    background-color: rgb(230, 10, 57);
}

.player-Junk{
    background-color: rgb(2, 8, 2); 
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    justify-content: center;
    display: flex;
}
.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: white;
}

.card.red {
    color:red;
}

.card.black {
    color:black;
}

.card::before, 
.card::after {
    /* Puts the values on the top and bottom of the card */
    position: absolute;
    /*  Displays the values on the cards */
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}



