*, *::after, *::before {
    box-sizing: border-box;
}

    
body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 5rem);
    grid-template-rows:9rem 4rem 6rem 6rem 6rem;
    gap: 2rem;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    padding-top: 8rem;
    background-color: rgb(253, 226, 190);
}
.row {
    /* Add your styling for the row class here */
    /* Example styles */
    display: grid;
    grid-template-columns: repeat(1, 5rem); 
    grid-template-rows:6rem 6rem 6rem 6rem 6rem;
    padding-top: 20rem;/* Adjust grid column template as needed */
    gap: 1rem; /* Adjust gap between grid items as needed */
    /* Additional styles for row class */
}

.deck {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color:white;
    user-select: none;
}

.scoreboard {
    margin: 0 5px;
    position: relative;
    display: flex;
    padding-right: 8rem;
    padding-left: 2rem;
    align-items: center;
    border: 2px solid black;
    border-radius: .1rem;
    color:black;
    font-size: 12px;
    font-weight: bold;
}

.computer-deck{
    background-color: rgb(230, 10, 57);
}

.player-deck{
    background-color: rgb(2, 8, 2);
}

.third-deck{
    background-color: rgb(20, 30, 114);
    position: relative;
}

.computer-Junk{
    background-color: rgb(230, 10, 57);
}

.player-Junk{
    background-color: rgb(2, 8, 2); 
}

.third-Junk {
    background-color: rgb(20, 30, 114);
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
h3 {
    justify-content: center;
    display: flex;
}
.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: white;
}

.card.red {
    color:red;
}

.card.black {
    color:black;
}

.card::before, 
.card::after {
    /* Puts the values on the top and bottom of the card */
    position: absolute;
    /*  Displays the values on the cards */
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}



